table{
    margin-top: 20px;
    thead{
        text-align: center;
        th{
            background-color: $color-orange;
            color: whitesmoke;
            border: solid 2px $color-dark-orange;
            width: 20vw;
            height: 35px;
            font-size: 20px;
        }
    }
    tbody{
        tr{
            text-align: center;
            td{
                color: $color-orange;
                border: solid 2px $color-dark-orange;
                width: 20vw;
                height: 40px;
                font-size: 18px;
            }
        }
    }
}
