img{
    width: 400px;
}
.container-album-detail{
    margin: 70px 0;
}
.container-album-detail{
    div{
        h3{
            color: $color-orange;
        }
        p{
            color: $color-brown;
        }
    }
}
