.input-donate{
    width: 40vw;
    margin-left: 50px;
}
.button-donate{
    width:200px;
    margin-left: 50px;
}

.donate-container{
    height: 80vh;
}

.donate-form{
    margin: 50px;
}

.donate-list-link{
    margin: 50px;
    text-decoration: none;
    color: $color-orange;
}

.donate-list-link:hover{
    margin: 50px;
    text-decoration: none;
    color: $color-dark-orange;
}
